/* root colours that will be reused during the whole project */
:root{
    --white: #FAFAFA;
    --text: #1C1A22;
    --light-grey: #F5F5F5;
    --light-blue-back: #F1F7FD;
    --blue-back: #80B3E5;
    --dark-blue-back: #0f0f1a;
}

/* Smooth animation of getting elements up */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* General styling rules */
body{
    margin: 0;
    padding: 0;
    background-color: var(--white);
    animation: fadeInUp 1.2s ease;
}

/* Setting one font for specific elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

/* Setting another one for the p element */
p {
    font-family: 'Inter', sans-serif;
}

/* Customizing the font size */
html {
    font-size: 62.5%; /* equivalent to 10px */
}

/* Designing the header section */
header{
    padding: 1.6rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--light-blue-back);
}

/* making the first div with the image and the name of the company a flex container */
header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .logo img {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
}

/* Doing some generic customization */
header div p {
    font-weight: 700;
    font-size: 3rem;
    color: var(--text);
}

/* Making a nav bar a flex container */
header nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

header nav menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    list-style: none;
}

/* Doing some basic customisation for a elements*/
header nav a {
    text-decoration: none;
    color: var(--text);
    font-size: 2rem;
    font-weight: 500;
}

header .register a{
    text-decoration: none;
    color: var(--base);
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 0.5rem;
    border: 0.3rem solid var(--blue-back);
    border-radius: 1rem;
    background-color: var(--blue-back);
}

/* Designing the footer section */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 4rem;
    background-color: var(--dark-blue-back);
}

.footer-logo > div{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem; /* All put a 0 in front of the number :) */
}

/* Setting some customization to decorate some elements */
.footer-logo div:first-child p{
    font-size: 2.5rem;
    color: var(--white);
}

.footer-logo p{
    font-size: 1.5rem;
    color: var(--white);
}

.footer-logo img {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links nav menu{
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
}

.footer-social-networks p {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}


.footer-social-networks a{
    text-decoration: none;
}


.footer-social-networks img {
    width: 4rem;
    height: 4rem;
    filter: brightness(0) invert(1); /* Makes icons white if they're originally colored, googled this function */
}

/* Designing the about section */
/* Designing a section with h1 element */
.about-intro-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    height: 20rem;
}

.about-intro-section h1{
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
}

.about-intro-section p{
    font-size: 1.8rem;
}

/* Designing a section with the history of the company */
.about-primary-section{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.about-primary-section div{
    width: 50%;
}

.about-primary-section p{
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    text-indent: 3rem;
}

/* Designing a section with additional info about the company */
.additional-company-fact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.additional-company-fact-text{
    text-align: left;
}

.additional-company-fact-text h2{
    font-weight: 600;
    font-size: 3rem;
}

.additional-company-fact-text p,
.additional-company-fact-text ul,
.additional-company-fact-text li{
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.03rem;
}

.additional-company-fact-image-con img {
    width: 15rem;
    height: 15rem;
    object-fit: contain;
}

.additional-company-fact-image-con p{
    margin-top: 0;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.03rem;
}

.restore{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-back);
    flex-direction: column;
    min-height: 25rem;
}

.restore-info{
    text-align: center;
}

.restore-info h2{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--white);
}

.restore-info p{
    font-size: 2rem;
    font-weight: 300;
    color: var(--white);
}

.restore-actions{
    margin-top: 3rem;
}

/* Shared button base */
.restore-actions a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1.2rem 3.2rem;
    border-radius: 5rem;
}

.restore-actions .button-primary {
    background-color: #fff;
    color: #3575e2;
    border: 2px solid #fff;
}

.restore-actions .button-secondary {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

/* Designing the contact page */
.intro-contact-page{
    background-color: var(--light-grey);
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-contact-page h1{
    font-weight: 700;
    font-size: 4rem;
}

.intro-contact-page p{
    font-weight: 300;
    font-size: 2rem;
    width: 60ch;
    text-align: center;
    margin-top: 0;
}

.methods-of-contact{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.contact-method{
    padding: 1.2rem 3.2rem;
    background-color: var(--light-grey);
    border: 0.3rem solid var(--light-grey);
    border-radius: 1rem;
}

.contact-method{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Designing the form */
.form-section{
    background-color: var(--light-grey);
    padding-bottom: 2rem;
}

.form-instructions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.form-instructions h3{
    font-size: 3rem;
    font-weight: 600;
}

.form-instructions p{
    font-size: 1.5rem;
    margin-top: 0;
}

.form-details{
    max-width: 50rem;
    margin: 3rem auto;
    padding: 2.5rem;
    background: #fffffb; /* just use it for the form here, so it has some visual differences */
    border-radius: 2rem;
}

.form-details fieldset {
    border: none;
    display: grid;
    gap: 1.5rem;
}

.form-details label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
    color: var(--text);
}

.form-details input,
.form-details select{
    height: 4rem;
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--text);
    background: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 1.2rem;
}

.form-details textarea {
    max-height: 5rem;
    padding:  1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text);
    background: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 1.2rem;
}

.form-details .submit-button {
    margin-top: 1.5rem;
    text-align: center;
}

.form-details button {
    min-width: 20rem;
    height: 5rem;
    padding: 0 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(135deg, #0071e3 0%, #00c2cb 100%); /* I found different buttons design patters and
    asked chose this one, no way I'd write this by myself */
    border: none;
    border-radius: 1.2rem;
}

.frequently-asked-questions{
    width: 40%;
    margin: 0 auto
}

.frequently-asked-questions-intro{
    text-align: center;
}

.frequently-asked-questions-intro h3{
    font-size: 2.5rem;
    font-weight: 600;
}

.frequently-asked-questions-intro p{
    font-size: 1.5rem;
}

.question-answer{
    background: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 1.2rem;
    margin-bottom: 1.5rem;
}

.question-answer h4,
.question-answer p{
    padding: 0.8rem 0.8rem;
    text-align: left;
}

.question-answer h4{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.question-answer p{
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-indent: 2rem;
}

/* Designing the login page and registration page */
/* I don't set so many configurations, just trying to reuse what I already have */
.login-reg-img-block{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-reg-img img{
    width: 12rem;
    height: auto;
}

.form-instructions-login-reg{
    margin-top: 1rem;
}

/* Designing the home page */
.intro-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-home h1{
    font-size: 5rem;
    font-weight: 600;
}

.intro-home p{
    font-size: 2rem;
}

/* need to come back and continue designing the home page

/* Designing the shop page


